<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Playground</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab tab="banner">
      <app-banner></app-banner>
    </ion-tab>
    <ion-tab tab="interstitial">
      <app-interstitial></app-interstitial>
    </ion-tab>
    <ion-tab tab="reward-video">
      <app-reward-video></app-reward-video>
    </ion-tab>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="banner">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Banner</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="interstitial">
        <ion-icon name="happy"></ion-icon>
        <ion-label>Interstitial</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="reward-video">
        <ion-icon name="gift"></ion-icon>
        <ion-label>Reward Video</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
