<ion-grid>
  <ion-row>
    <ion-col>
      <h3>Banner Ad</h3>

      <ion-list>
        <app-ad-request-options (adRequestChange)="onAdRequestChange($event)"></app-ad-request-options>
        <ion-button style="text-transform: none;" (click)="show()">admob.banner.show()</ion-button>
        <ion-button style="text-transform: none;" (click)="hide()">admob.banner.hide()</ion-button>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <app-events filter="banner"></app-events>
  </ion-row>
</ion-grid>
