
<ion-grid>
  <ion-row>
    <ion-col>
      <h3>Interstitial Ad</h3>

      <ion-list>
        <app-ad-request-options (adRequestChange)="onAdRequestChange($event)"></app-ad-request-options>
        <ion-button style="text-transform: none;" (click) ="load()">admob.interstitial.load()</ion-button>
        <ion-button style="text-transform: none;" (click) ="show()">admob.interstitial.show()</ion-button>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <app-events filter="interstitial"></app-events>
  </ion-row>
</ion-grid>
