<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>AdMob Plus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    This is a demo application for <a href="https://admob-plus.github.io/">AdMob Plus</a>.
  </p>

  <ion-item>
    <ion-label position="floating">Device ID</ion-label>
    <ion-input [value]="deviceId" readonly></ion-input>
  </ion-item>

  <p>
    <ion-button secondary href="/playground" routerDirection="forward">Playground</ion-button>
  </p>
</ion-content>
